{{ include('header.html') }}
  <div class="bgimg w3-animate-opacity w3-text-white w3-myfont">
    <div class="w3-display-middle" style="display: inline-block">
        <div class="salon-container">
            {% for serv in t %}
                {% if serv.private == 0 %}
                    {{ include('renderServer.html') }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="w3-card select w3-round-large w3-hover-shadow">
            <p>w3-card</p>
        </div>
    </div>
    
  </div>
  {{ include('footer.html') }}