{{ include('header.html') }}
  <div class="w3-animate-opacity w3-text-white w3-myfont" style="display: flex">
    <div class="grille">
      {% for i in range(0, 11) %}
        {% for j in range(0, 11) %}
          <div class='{{i}},{{j}}'>
            {% for helico in games[1] %}
              {% if (i == helico.x or i == helico.x or i == helico.x) and helico.z == 3 %}
                {% if j == helico.y or j == helico.y or j == helico.y %}
                  <img class="helico" id="{{helico.id}}" src="../img/helico.png">
                {% endif %}
              {% endif %}
            {% endfor %}
            {% for helico in games[2] %}
              {% if (i == helico.x or i == helico.x or i == helico.x) and helico.z == 3 %}
                {% if j == helico.y or j == helico.y or j == helico.y %}
                  <img class="helico" id="{{helico.id}}" src="../img/helico-bleu.png">
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="nav" style="flex-direction: columns; vertical-align: middle">
        <button class="prev">&uarr;</button>
        <br>
        <span class="nb">
          3
        </span>
        <br>
        <button class="next">&darr;</button>
    </div>
    <div>
      <form method="POST">
        <input name="stade" value="1">
        <div>
          <input name="h1">
          <input name="valeur1" value="0">
        </div>
        <div>
          <input name="h2" value="">
          <input name="valeur2" value="0">
        </div>
        <div>
          <input name="h3" value="">
          <input name="valeur3" value="0">
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
  {{ include('footer.html') }}