#btnp:hover {
    background-color: #b7a39c;
    border-color: black;
    color: black;
    box-shadow: none;
}

#btnp {
    background-color: #896e64;
    border: solid 2px #616161;
    outline: 0;
}

.round-top {
    border-radius: 8px 8px 0 0;
}